$yellow: #f2f211;
$red: #8c0808;
$green: #1ca315;
$black: #000000;

@mixin margenes( $top, $bottom ) {
  margin-bottom: $bottom;
  margin-top: $top;
}

@mixin paddings( $top, $right, $bottom, $left ) {
    padding-bottom: $bottom;
    padding-top: $top;
    padding-left: $left;
    padding-right: $right;
  }

.jumbotron {
    @include margenes( 10px, 0px );
    background-color: $yellow;
    color: $black;
  }
  footer {
    @include paddings( 10px, 10px, 0, 10px );
    background-color: $yellow;
    @include margenes( 10px, 0px );
  }
  .card-hotel {
    @include margenes( 10px, 0px );
    flex: 1 200px;
  }
  .btn-reserva{
    width: 100%;
    border-radius: 0;
  }
  .footter-address-icon {
    @include paddings( 0px, 10px, 0px, 0px );
  }
  .button-icon {
    @include paddings( 0px, 5px, 0px, 0px );
  }
  .tab-content {
    @include paddings( 10px, 0px, 0px, 0px );
  }