@yellow: #f2f211;
@red: #8c0808;
@green: #1ca315;
@black: #000000;

.margenes( @top, @bottom ) {
  margin-bottom: @bottom;
  margin-top: @top;
}

.paddings( @top, @right, @bottom, @left ) {
    padding-bottom: @bottom;
    padding-top: @top;
    padding-left: @left;
    padding-right: @right;
  }

.jumbotron {
    .margenes( 50px, 0px );
    background-color: @yellow;
    color: @black;
  }
  footer {
    .paddings( 10px, 10px, 0, 10px );
    background-color: @yellow;
    .margenes( 10px, 0px );
  }
  .card-hotel {
    .margenes( 10px, 0px );
    flex: 1 200px;
  }
  .btn-reserva{
    width: 100%;
    border-radius: 0;
  }
  .footter-address-icon {
    .paddings( 0px, 10px, 0px, 0px );
  }
  .button-icon {
    .paddings( 0px, 5px, 0px, 0px );
  }
  .tab-content {
    .paddings( 10px, 0px, 0px, 0px );
  }