.jumbotron {
  margin-bottom: 0px;
  margin-top: 50px;
  background-color: #f2f211;
  color: #000000;
}
footer {
  padding-bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f211;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-hotel {
  margin-bottom: 0px;
  margin-top: 10px;
  flex: 1 200px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
.footter-address-icon {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
}
.button-icon {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
.tab-content {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
